@model Bug_tracker.Models.AssigndeveloperTicket
@{
    ViewBag.Title = "AssignUsers";
}
<div id="page-wrapper">

<div>
    <div>
        <h3>
            <span>Projects</span>
        </h3>
    </div>
    <div>
        <div class="blank-page">
            <h3>Assign users to Project</h3>
            <section class="content">
                @using (Html.BeginForm())
                {<div class="form-group">
                        @Html.HiddenFor(p => p.TicketId)
                        @Html.DropDownListFor(p => p.SelectedDeveloperId, Model.DeveloperList, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DeveloperList, "", new { @class = "text-danger" })
                        <input type="submit" value="Submit"/>

                    </div>
                }
            </section>
            </div>
        </div>
</div>
</div>