@model Bug_tracker.Models.UserRoleViewModel
@{
    ViewBag.Title = "ChangeRole";
}
<!-- Content Wrapper. Contains page content -->
}<div id="page-wrapper">

    <div class="content-wrapper">

        <section class="content">
            <p>
                User: @Model.Name
            </p>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(p => p.Id)
                @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)
                <input type="submit" value="Submit!" />
            }
        </section>
        <!-- /.content -->
    </div>
    </div>
    <!-- /.content-wrapper -->
